/* global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

.button {
  outline: none;
  border: none;
  color: #fff;
  width: 15rem;
  height: 3rem;
  align-items: center;
  text-align: center;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

.button:hover {
  background: linear-gradient(113.96deg, #fe9013 101.44%, #f9804b 1.49%);
  transform: scale(1.05);
}

/* /global styles */
/* header styles */
header {
  background-color: #000000;
  position: fixed;
  width: 100%;
  padding: 0.7rem 11.4rem;
  z-index: 999;
}

.nav,
.menu,
.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  width: 100%;
}

.menu a:hover,
.menu-items > li.main-page > a {
  transition: all 0.2s ease-in-out;
  color: orange;
}

.menu-items {
  margin-left: 4rem;
  gap: 2rem;
}

ul.menu-items li.donate-page a {
  transition: all 0.2s ease-in-out;
  color: orange;
}
ul.menu-items.footer-menu li a:hover {
  transition: all 0.2s ease-in-out;
  color: orange;
}

ul.social-media li.donate-page a,
ul.social-media li a:hover {
  transition: all 0.2s ease-in-out;
  color: lightskyblue;
}

.burger-menu {
  color: #fff;
  font-size: 1.5rem;
  display: none;
  cursor: pointer;
}

/* /header styles */
/* main styles */
main {
  width: 100%;
  height: 100vh;
  position: relative;
}

.bg-image {
  width: 100%;
  position: absolute;
  z-index: -999;
}

.bg-image > img {
  width: 100%;
  height: 100%;
}

.main-info {
  position: absolute;
  left: 45%;
  bottom: 12%;
  transition: translate(30%, 50%);
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.main-title {
  font-size: 5rem;
  text-transform: uppercase;
  line-height: 4rem;
  margin-bottom: 2rem;
  position: relative;
}

.main-info > .main-title::after {
  content: "";
  display: block;
  position: absolute;
  top: -4rem;
  right: 5rem;
  width: 23rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  z-index: -1;
}

.fav-color {
  color: rgba(255, 238, 46, 1);
}

.watch {
  z-index: 1;
  position: absolute;
  bottom: 3rem;
  right: 17rem;
}
/* /main styles */
/* donate main */
.donate-main {
  padding-top: 4rem;
  width: 100%;
  height: 60vh;
}
/* /donate main */
/* donate info */
.donate-info {
  width: 100%;
  padding: 0.7rem 11.4rem 10rem;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
}

.donate-info__motto {
  text-transform: capitalize;
  font-size: 1.9rem;
  color: #fff;
  margin: 1rem 0 0.5rem;
}

.donate-info__paragraph {
  font-weight: 400;
  font-size: 0.86rem;
  color: #fff;
}

.donate-info__title {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 3rem 0;
  color: #fe9013;
}

.donate-info__card {
  width: 100%;
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 2rem 4rem;
}

.donate-info__card-title {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  color: #fe9013;
  margin: 1rem 0;
}

.donate-info__card-description {
  font-size: 1.25rem;
  font-weight: 400;
}

.donate-info__card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.donate-info__card-icon__title > p:first-child {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

.amount-title {
  font-weight: 400;
  margin: 1rem 0.5rem;
}

.prices-div {
  width: 100%;
  height: 2rem;
  background-color: darkblue;
  border-radius: 5px;
  background: #404950;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.prices-div > .line {
  position: absolute;
  width: 90%;
  height: 3px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #72828e;
}

.price-dots {
  position: relative;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.price-dot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price-dots span {
  display: block;
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: yellow;
  z-index: 1;
}

.price-dots p {
  position: absolute;
  font-weight: 600;
  font-size: 1.2rem;
  top: 3rem;
}

.donation-form {
  margin: 5rem auto 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.donation-input {
  color: #929699;
  border: 1px solid #929699;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}
.donation-input > input {
  padding: 0.8rem 0.3rem;
  outline: none;
  border: none;
  border-radius: 2px;
  margin: 0 auto;
  font-size: 1rem;
  background: transparent;
}

.radio-input > label {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;
}

.radio-input {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid orange;
}

.radio-input input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio-input > label:hover .checkmark {
  background-color: #f1f1f2;
}
.radio-input > label > input:checked ~ .checkmark {
  background-color: orange;
}

.donate-feed-btn {
  margin-bottom: 2rem;
}

.share {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 0.9rem;
}

/* /donate info */
/* backstage styles */
.backstage {
  width: 100%;
  position: relative;
}

.backstage-description {
  padding: 10rem;
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  gap: 2rem;
}

.backstage-description__info {
  height: 100%;
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgba(51, 59, 65, 1);
}

.info-title > h2 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.info-title > p,
.info-instruction > p {
  font-size: 0.9rem;
}

.info-instruction > h4 {
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.backstage-side-img {
  position: absolute;
  top: 5rem;
  right: 0;
  width: 160px;
}
/* /backstage styles */
/* animals */
.animals {
  width: 100%;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.animals-div {
  height: 100%;
  padding: 1rem 8rem 0;
  display: grid;
  grid-template-columns: 1fr 90% 1fr;
  place-items: center;
  gap: 1rem;
}

.animals-div button img {
  width: 1rem;
}
.prev-btn > button,
.next-btn > button {
  padding: 1.5rem 1.3rem;
  border-radius: 50%;
  border: none;
  outline: none;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}
.prev-btn > button:hover,
.next-btn > button:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  background: linear-gradient(113.96deg, #fe9013 101.44%, #f9804b 1.49%);
}

.animal-cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid #f9804b;
  border-radius: 5px;
  overflow: hidden;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.card:hover .card-footer {
  background-color: rgba(9, 9, 9, 0.5);
  color: #fff;
}

.animal-info > p:nth-child(1) {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
}
.animal-info > p:nth-child(2) {
  font-size: 0.8rem;
}

.animal-food > img {
  width: 2.5rem;
  aspect-ratio: 1;
}
.animal-left-img,
.animal-right-img {
  position: absolute;
  bottom: 0;
  width: 250px;
}
.choose-btn {
  margin: 2rem auto;
  display: block;
}
.animal-left-img {
  left: 0;
}
.animal-right-img {
  right: 0;
  width: 300px;
}

/* /animals */
/* pick and feed */
.pick-and-feed {
  width: 100%;
  padding: 6rem;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  opacity: 0.9;
}

.pick-and-feed_card {
  width: 90%;
  padding: 4rem;
  margin: 0 auto;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}

.pick-and-feed_card > h1 {
  text-align: center;
  color: rgba(254, 144, 19, 1);
  font-weight: 400;
  font-size: 2rem;
}

.pick-and-feed_card > h5 {
  font-weight: 400;
  font-size: 1.2rem;
  margin: 2rem 0;
}

.pick-and-feed_card > p:nth-child(3) {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 1rem 0;
}

.pick-and-feed_card > p:nth-child(4) {
  font-size: 0.9rem;
}

.pick-and-feed_card > p:nth-child(4) > a {
  font-size: 0.9rem;
  font-style: none;
  color: inherit;
  border-bottom: 1px solid orange;
}

.pick-and-feed_card > h2 {
  margin: 2rem 0;
  text-align: center;
  font-weight: 400;
}

.how-it-works {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.how-it-works-cell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
}

.how-it-works-cell__img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid orange;
  border-radius: 3px;
  background-color: #fff;
  padding: 1rem;
  aspect-ratio: 1;
  margin-bottom: 1rem;
}

.how-it-works-cell__arrow {
  width: 60px;
  margin: 3rem auto;
}

.how-it-works-cell__img > div {
  width: 5rem;
}

.how-it-works-cell__title > p {
  font-size: 0.8rem;
  margin-bottom: 3rem;
}

.feed-btn {
  display: block;
  margin: 0 auto;
}
/* /pick and feed */
/* testimonials */
.testimonials {
  width: 100%;
  padding: 3rem 10rem;
  position: relative;
}

.testimonials-title {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}

.testimonial-cards {
  margin: 3rem auto;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.testimonial-card {
  width: 25%;
  max-height: 360px;
  line-height: 1.2rem;
  overflow: hidden;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  background-color: #f1f3f2;
  background: linear-gradient(#f1f3f2, #f1f3f2) padding-box,
    linear-gradient(to right, #febdab, #f3a9f8) border-box;
  border-radius: 20px;
  border: 2px solid transparent;
}

.read-more,
.read-more > span {
  display: none;
}

.read-more span.active {
  display: block;
}

.testimonial-card-header,
.testimonial-location {
  width: 100%;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.testimonial-card-header__image {
  width: 30px;
}

.testimonial-name {
  font-weight: 600;
}

.testimonial-location {
  color: #bdbdbd;
}

.cards-slider {
  margin: 2rem auto;
  width: 60%;
  display: block;
  position: relative;
  height: 5px;
  background-color: #f1f3f2;
  border-radius: 10px;
}

.drag-slider {
  position: absolute;
  width: 20%;
  height: 100%;
  border-radius: 10px;
  background-color: #fe9013;
}

.drag-slider.active {
  background-color: lightcoral;
  cursor: grabbing;
}

.button-2 {
  display: block;
  border-radius: 5px;
}

.leaf-img {
  position: absolute;
  right: 0;
  bottom: -6rem;
  width: 180px;
  z-index: -1;
}
/* /testimonials */
/* footer */
.footer {
  z-index: 1;
  width: 100%;
  background-color: #000000;
  color: #fff;
  padding: 3rem 10rem;
}

.footer-title {
  display: none;
}

.subscribe,
.footer-links,
.footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.subscribe {
  align-items: start;
}

.footer-logo {
  width: 70px;
}

.subcribe-label {
  font-weight: 300;
  font-size: 1.2rem;
}

.input-btn {
  margin: 0.5rem 0;
}

.input-btn > input,
.input-btn > button {
  outline: none;
  border: 1px solid #f9804b;
  background: transparent;
  padding: 0.5rem 0.5rem;
  color: #fff;
}

.input-btn > button {
  border: 1px solid green;
  border-radius: 5px;
  background-color: #f1f3f2;
  color: green;
  cursor: pointer;
}

.donate-btn {
  margin: 1rem;
}

.social-media-item {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  gap: 10px;
}

.social-media-item > a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.social-media-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  width: 1.7rem;
  aspect-ratio: 1;
  background-color: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
}

.footer-menu > li {
  margin: 0 1rem;
}
/* /footer*/

/* Mobile */
@media only screen and (min-width: 20px) and (max-width: 425px) {
  /* Global-Mobile */
  .container {
    padding: 0 1rem;
  }

  /* Display none */
  .backstage-description__img,
  .prev-btn > button,
  .next-btn > button,
  .pick-and-feed_card > p,
  .how-it-works-cell__arrow,
  .cards-slider,
  .footer-logo,
  .subscribe-form,
  .social-media p {
    display: none;
  }
  /* /Block */

  /* Buttons */
  .watch,
  .choose-btn,
  .feed-btn,
  .leave-feedback {
    width: 100%;
    display: block;
    position: static;
    margin: 1rem auto;
  }
  /* /Buttons */
  /* /Global-Mobile */
  /* Header-Mobile */
  header {
    padding: 0.5rem 1rem;
  }

  .burger-menu {
    display: block;
  }

  .menu {
    height: 0;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 68px;
    left: 0;
    right: 0;
    background-color: #000000;
    transition: all 0.3s ease-out;
    padding: 0 2rem;
  }

  .menu.active {
    height: 210px;
  }

  .menu,
  .menu-items {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    gap: 0;
  }

  .menu li {
    padding: 0.5rem 0;
  }
  /* /Header-Mobile */
  /* Main-Mobile */
  .main {
    padding-top: 4rem;
    height: auto;
  }

  .bg-image {
    position: static;
    width: 100%;
    height: 50vh;
    z-index: -999;
  }

  .main-title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    bottom: 2rem;
    left: 1rem;
    margin: 0;
    padding: 0;
    z-index: 1;
  }

  .main-info .main-title::after {
    width: 8rem;
    top: -1rem;
    left: -1rem;
    display: block;
  }

  /* Main-Mobile */
  /* Backstage-Mobile */

  .backstage {
    overflow: hidden;
  }
  .info-title > h2,
  .info-instruction > h4 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    font-weight: normal;
    padding: 0;
  }

  .backstage-description {
    display: block;
    padding: 0;
  }

  .backstage-description__info {
    width: 100%;
  }

  .info-title > p {
    font-size: 1rem;
  }

  .backstage-side-img {
    width: 50px;
    top: -0.5em;
    transform: translateX(1.5rem);
  }
  /* /Backstage-Mobile */
  /* Animals-Mobile */
  .animals {
    padding: 2rem 0;
  }

  .animals-div {
    padding: 0;
    display: block;
    width: 100%;
  }

  .animal-left-img,
  .animal-right-img {
    width: 50px;
  }

  .animal-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* /Animals-Mobile */
  /* Pick-and-Feed-Mobile */
  .pick-and-feed {
    padding: 0.5rem 0;
  }

  .pick-and-feed_card {
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem 0;
    text-align: center;
  }

  .pick-and-feed_card > h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 2rem 0;
  }
  .pick-and-feed_card > h5 {
    margin: 0;
    font-size: 1.1rem;
    padding: 0 0.1rem;
  }

  .how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .how-it-works-cell__title > p {
    margin: 0;
  }
  /* /Pick-and-Feed-Mobile */

  /* Testimonials-Mobile */
  .testimonials {
    padding: 0;
    margin: 0 auto;
  }
  .testimonials-title {
    margin: 1rem 0;
  }

  .testimonial-cards {
    flex-direction: column;
    margin: 0;
  }

  .testimonial-card {
    width: 100%;
    position: relative;
    height: 150px;
    transition: all 0.3s ease-out;
  }

  .testimonial-card.active {
    height: auto;
  }

  .testimonial-card-content {
    margin-bottom: 1rem;
  }

  .read-more {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: gray;
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 0.2rem;
  }

  .leave-feedback {
    width: 70%;
  }

  .leaf-img {
    width: 70px;
    bottom: -5rem;
    right: 0;
  }
  /* Testimonials-Mobile */
  /* Footer-Mobile */
  .footer {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .footer-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-title {
    display: block;
    margin: 1rem 0;
  }

  .footer-menu,
  .social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.5rem;
    font-size: 0.8rem;
  }

  .copyright {
    font-size: 0.7rem;
    margin: 1rem 0;
  }
  /* Footer-Mobile */
}
/* /Mobile */
/* Tablet */
@media only screen and (min-width: 426px) and (max-width: 768px) {
  /* Global-Tablet */
  .backstage-description__img,
  .prev-btn > button,
  .next-btn > button,
  .cards-slider,
  .subscribe-form,
  .social-media p {
    display: none;
  }
  /* /Global-Tablet */
  /* Header-Tablet */
  header {
    padding: 0.5rem 1rem;
  }

  .burger-menu {
    display: block;
  }

  .menu {
    height: 0;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 68px;
    left: 0;
    right: 0;
    background-color: #000000;
    transition: all 0.3s ease-out;
    padding: 0 2rem;
  }

  .menu.active {
    height: 210px;
  }

  .menu,
  .menu-items {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    gap: 0;
  }

  .menu li {
    padding: 0.5rem 0;
  }
  /* /Header-Tablet */
  /* Main-Tablet */
  .main {
    padding-top: 4rem;
    height: auto;
  }

  .bg-image {
    position: static;
    width: 100%;
    height: 80vh;
    z-index: -999;
  }

  .main-title {
    font-size: 4rem;
    line-height: 3rem;
    bottom: 1rem;
    left: 4rem;
    margin: 0;
    padding: 0;
    z-index: 1;
  }

  .main-info .main-title::after {
    width: 18rem;
    top: -2.5rem;
    left: -2.5rem;
    display: block;
  }

  .watch {
    left: 2rem;
    bottom: 1.5rem;
    width: 350px;
    font-size: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
  }
  /* Main-Tablet */

  /* Backstage-Tablet */

  .backstage {
    overflow: hidden;
    padding: 0 2rem;
  }
  .info-title > h2,
  .info-instruction > h4 {
    font-size: 3.5rem;
    margin: 3rem 0 2rem;
    font-weight: normal;
    padding: 0;
  }

  .info-instruction > h4 {
    font-size: 2rem;
  }

  .info-instruction > p {
    font-size: 1.4rem;
  }

  .backstage-description {
    display: block;
    padding: 0;
  }

  .backstage-description__info {
    width: 80%;
  }

  .info-title > p {
    font-size: 1.5rem;
  }

  .backstage-side-img {
    width: 180px;
    top: 0rem;
    transform: translateX(1.5rem);
  }
  /* /Backstage-Tablet */
  /* Animals-Tablet */
  .animals {
    padding: 2rem;
  }

  .animals-div {
    padding: 0;
    display: block;
    width: 100%;
  }

  .animal-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    gap: 1rem;
  }

  .choose-btn {
    width: 350px;
    font-size: 1rem;
    margin: 5rem auto;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
  }

  .animal-left-img,
  .animal-right-img {
    width: 200px;
  }
  /* /Animals-Tablet */
  /* Pick-and-Feed-Tablet */
  .pick-and-feed {
    padding: 1.5rem 0;
  }

  .pick-and-feed_card {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .pick-and-feed_card > h1 {
    font-size: 3rem;
    margin: 0;
  }

  .pick-and-feed_card > h5 {
    margin: 1rem 0;
    font-size: 1.5rem;
    text-align: start;
  }

  .pick-and-feed_card > p:nth-child(3),
  .pick-and-feed_card > p:nth-child(4) {
    font-size: 1.2rem;
    text-align: start;
  }

  .how-it-works {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .how-it-works-cell__title > p {
    margin: 1rem 0;
    font-size: 1rem;
  }

  .feed-btn {
    width: 350px;
    font-size: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
  }
  /* /Pick-and-Feed-Tablet */
  /* Testimonials-Tablet */
  .testimonials {
    padding: 0 2rem;
    margin: 0 auto;
  }
  .testimonials-title {
    margin: 3rem 0;
  }

  .testimonial-cards {
    flex-direction: column;
    margin: 0;
  }

  .testimonial-card {
    width: 100%;
    position: relative;
    height: 150px;
    transition: all 0.3s ease-out;
  }

  .testimonial-card.active {
    height: auto;
  }

  .testimonial-card-content {
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }

  .read-more {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: gray;
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 0.2rem;
  }

  .leave-feedback {
    width: 350px;
    font-size: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
    margin: 2rem auto;
  }

  .leaf-img {
    width: 70px;
    bottom: -5rem;
    right: 0;
  }
  /* Testimonials-Tablet */
  /* Footer-Tablet */
  .footer {
    padding: 2rem;
    margin: 0;
    position: relative;
  }

  .donate-btn {
    margin: 2rem 0 5rem;
    width: 350px;
    font-size: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
  }

  .social-media {
    position: absolute;
    right: 2rem;
    top: 2rem;
  }

  .footer-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-menu {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    flex-direction: row;
  }

  .copyright {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    font-weight: 300;
    line-height: 1.5rem;
  }
  /* Footer-Tablet */
}
/* Tablet */
/* Small Desktop */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Header-Small-Desktop */
  header {
    padding: 1rem;
  }
  /* /Header-Small-Desktop */
  /* Main-Small-Desktop */
  .bg-image {
    width: 100%;
    height: 100vh;
    z-index: -999;
  }

  .main-title {
    bottom: 1.5rem;
    left: 3.5rem;
  }

  .main-info .main-title::after {
    left: -2rem;
  }

  .watch {
    right: 8rem;
    width: 250px;
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  /* /Main-Small-Desktop */
  /* Backstage-Small-Desktop */
  .backstage-description {
    padding: 3rem 2rem;
    margin: 0;
  }
  .backstage-side-img {
    display: none;
  }
  /* /Backstage-Small-Desktop */
  /* Animals-Small-Desktop */
  .prev-btn,
  .next-btn {
    display: none;
  }
  .animals-div {
    padding: 0;
    display: block;
    width: 100%;
  }
  .animal-cards {
    width: 100%;
    padding: 0 2rem;
    margin: 0;
  }
  .animal-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: 1rem;
  }

  .choose-btn {
    width: 350px;
    font-size: 1rem;
    margin: 5rem auto;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
  }

  .animal-left-img,
  .animal-right-img {
    width: 200px;
  }
  /* /Animals-Small-Desktop */

  /* Pick-and-Feed-Small-Desktop */
  .pick-and-feed {
    padding: 1.5rem 2rem;
  }

  .pick-and-feed_card {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .pick-and-feed_card > h1 {
    font-size: 3rem;
    margin: 0;
  }

  .pick-and-feed_card > h5 {
    margin: 1rem 0;
    font-size: 1.5rem;
    text-align: start;
  }

  .pick-and-feed_card > p:nth-child(3),
  .pick-and-feed_card > p:nth-child(4) {
    font-size: 1.2rem;
    text-align: start;
  }

  .how-it-works {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .how-it-works-cell__title > p {
    margin: 1rem 0;
    font-size: 1rem;
  }

  .feed-btn {
    width: 350px;
    font-size: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
  }
  /* /Pick-and-Feed-Small-Desktop */
  /* Testimonials-Small-Desktop */
  .testimonials {
    padding: 2rem;
    margin: 0 auto;
  }
  .testimonial-cards {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
  }

  .testimonial-cards::-webkit-scrollbar {
    height: 5px;
  }
  .testimonial-cards::-webkit-scrollbar-track {
    background: #fe9013;
  }
  .testimonial-cards::-webkit-scrollbar-thumb {
    background: #888;
    width: 10px;
  }
  .testimonial-cards::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: grab;
  }
  .testimonial-cards::-webkit-scrollbar-thumb:focus {
    cursor: grabbing;
  }

  .testimonial-card {
    flex-basis: 32%;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .cards-slider {
    display: none;
  }

  .leave-feedback {
    width: 350px;
    font-size: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
    margin: 2rem 0;
  }
  /* /Testimonials-Small-Desktop */
  /* Footer-Small-Desktop */
  .footer {
    padding: 2rem;
  }
  /* /Footer-Small-Desktop */
}
/* /Small Desktop */
